<footer>
     <div class="rights-reserved">@ All right are Reserved || Something</div>
     <div class="website-navigatar">
         <ul>
             <li>
                 <a href="/">Home</a>
                 <a href="/users/profile/:id">Profile</a>

             </li>
         </ul>
     </div>
</footer>