<footer>
     <div class="rights-reserved">@ All right are Reserved || Something</div>
     <div class="website-navigatar">
         <ul>
             <li>
                 <a href="/">Home</a>
                 <%if (locals.user){%>
                 <a href="/users/profile/<%= user.id%>">Profile</a>
                 <%}else{%>
                  
                    <a href="/users/sign-in">Sign in</a>
                <%}%>

             </li>
         </ul>
     </div>
</footer>