<header>
    <nav>
        <div class="website-name">
           <a href="/"> Something</a>
        </div>

    
       <div class="nav-right">
        <ul>
            <% if(locals.user) {%>

            <li ><a href="#"  id="chat-list"><i class="fas fa-comment-dots"></i> Join Chatroom</a></li>
            <li><a href="/users/profile/<%= user.id%>">
                <%= user.name %></a></li>
            <li><a href="/users/sign-out">Sign Out</a></li>


            <%}else{%>
                <li>
                
                <a href="/users/sign-in">Sign in</a>
                </li>
                <li>
                    <a href="/users/sign-up">Sign Up</a>
                </li>

            <% }%>
            

        </ul>
    </div>
    </nav>
</header>