<div class="outer">
    <div class="sign-up-body">
            <h1>Sign Up</h1>
            <form action="/register" method="post" id="register">
                    <label for="email">Email</label><br>
                    <input type="email" name="email"><br>
                    <label for="password">Password</label><br>
                    <input type="text" name="password"><br>
                    <label for="Name">Name</label><br>
                    <input type="text" name="name"><br>

                    <button type="submit" form="register">Sign Up</button> <span>Already has an account! <a href="/users/sign-in">LogIn</a></span>
            </form>
    </div>
</div>