body{
    // background-color:cyan
    #layout-main{
        height: auto;
    }
}

.profile_outer{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    .cover_photo{
        height: 70vh;
        // position: relative;
        img{
            background-size: cover;
            height: 100%;
            width:100%;
            border-radius:10px ;
            
        }
    }
    .info-box{
        display: flex;
        flex-direction: row;
        // align-items: center;
        .profile-pic{
            // position:absolute;
            // left: 12%;
            // top:70%;
            margin-left: 2%;
            margin-top: -6%;
            z-index: 1;
            img{
                border: 5px solid whitesmoke;
                border-radius: 50%;
                width: 12rem;
                height: 12rem;
            }
            button{
                margin-left: -20%;
                
            }
        }

        .username{
            font-size: larger;
            font-weight: bolder;
            font-family: sans-serif;
            margin-left: 2%;
            margin-top: 2%;
        }
        
    }
    
}