body .outer {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .outer .sign {
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  background-color: #f2f4f5;
  width: 40%;
}

body .outer .sign h1 {
  text-align: center;
}

body .outer .sign input {
  border: .5px solid grey;
  width: 95%;
  height: 8vh;
  margin: 2%;
  background-color: #dfe4e6;
  outline: none;
  border-radius: 10px;
}

body .outer .sign button {
  width: 95%;
  margin: 2%;
  height: 8vh;
  background-color: #6b93e3;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: larger;
}

body .outer .sign p {
  text-align: center;
}

body .outer .sign p a {
  text-decoration: none;
}

body .sign-up {
  height: 90%;
}
